<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery a {float: left; display: block; margin: 0 0 1% 1%; width: 19%; text-align: center; text-decoration: none!important;}
    .image-gallery a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery a img {width: 100%; display: block;}
</style>

<p class="image-gallery">
    {% for image in page.images %}
    
    <a href="{{ image.image_path }}" title="{{ image.title }}" data-toggle="lightbox" data-gallery="gallery">
        <img src="//images.weserv.nl/?url={{ site.url | replace: 'http://','' | replace: 'https://','' }}{{ image.image_path }}&w=300&h=300&output=jpg&q=50&t=square" alt="{{ image.title }}" title="{{ image.title }}" />
        <span>{{ image.title }}</span>
        </a>

    {% endfor %}
</p>
