<section id="posts" class="py-5">
  <!-- <div class="container"> -->
    <!-- <div class="row mt-sm-4 mt-md-0">
      {% include carousel.html %}
    </div> -->
    <div class="row">
      
      <div class="card-deck col-md-10">
        {% for post in site.posts limit:3 %}
        <div class="card text-justify">
          <img class="card-img-top img-fluid" src="{{ post.featured-image }}">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
            <p class="card-text" style="font-size: 0.9rem"> {{ post.excerpt }}</p>
          </div>
          <div class="card-footer">{{ post.date | date: "%d.%m.%Y" }}</div>
          
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <!-- <div class="col"> -->
        {% for post in paginator.posts %}
        <div>
          <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

          <p class="text-info lead">
            {{ post.date | date: "%b %-d, %Y" }}
          </p>

          <p>
            <div class="row">
              {% if post.featured-image %}
              <div class="col-sm-6 col-md-3">
                {% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}
              </div>
              {% endif %}
              <div class="col">
                {% if post.summary %}
                {{ post.summary }}
                {% else %}
                {{ post.excerpt }}
                {% endif %}
              </div>
            </div>
          </p>
        </div>
        {% endfor %}
      <!-- </div> -->
    </div>
  <!-- </div> -->
</section>