.navbar{
    box-shadow: 1px 1px 3px $primary;
    opacity: 0.8;
    background: #ff3019;
    background: -moz-linear-gradient(top, #cf0404 0%,  #ff3019 100%);
    background: -webkit-linear-gradient(top, #cf0404 0%,  #ff3019 100%);
    background: linear-gradient(to bottom, #cf0404 0%,  #ff3019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404', endColorstr='#ff3019',GradientType=0 );
  
    .nav-item{
      font-size: 1.2rem;
      padding-right: 15px;
    }
  }
  
  .nav-link {
    color: $white !important;
  
    &:hover {
      color: $info !important;
    }
  }