<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

  {% include header.html %}
  {% include banner.html %}
  
  <div class="container">
    
    <div class="row mt-sm-4 mt-md-0">
      <div class="col-sm-12 col-md-8">
        {{ content }}
      </div>

      <div class="col-sm-12 col-md-4 py-5">
        <div class="card">
          <div class="card-body text-center">
            <h5 class="card-title">Nepřehlédněte</h5>
            <p class="card-text">IV. Společenský večer ČSH a Hemojunioru</p>
            <a href="{{ site.baseurl }}/4-spolecensky-vecer-je-za-dvermi-hemofilici-se-sejdou-uz-v-lednu/" class="card-link">12.1.2019</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

</body>

</html>